.general-container {
    margin: 20px 30px;
}

.divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #CACACA;
}

.img-typeS {
    width: 90%;
}

.center-txt {
    color: rgb(141, 141, 141);
    text-align: center;
}

.txt-img {
    font-size: 16px;
    line-height: 1.5;
}