<div class="general-container">

    <div class="divider">

        <div>
            <h1 class="center-txt" > Acerca de nosotros </h1>

            <p>
                Es un desarrollo web con angular en el cual pretendemos hacer uso de
                los elementos de angular material y tener interacción con TypeScript.
            </p>
        </div>

        <div >
            <h3 class="center-txt" > Imagen </h3>
            <p class="txt-img" >
                Aquí pondremos una imagen obtenida desde el archivo de TypeScript.
            </p>

            <img class="img-typeS" alt="img" src=" {{ imgEjemplo }} " >
            <!--
                <img alt="imagenMontañas" src="../../../assets/image/montanas.jpg">
            -->
        </div>

    </div>

</div>
